{% extends 'base.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}

    <section class="seccontent_b">
        <div class="content_b">
            <h1>Centro de Desarrollo Comunitario</h1>
            <br>
            <p>Hola!, quisiera hablarte un poco de lo que es el Centro de Desarrollo Comunitario (CDC) ubicado en Santa Maria Texcalac. Aquí se desarrollan varios
                talleres para crear o impulsar talentos que existen dentro de nuestra comunidad.
                Por esta razón te invitamos a que te inscribas en algún taller, recordandote que los talleres no tienen ningún costo y que esperamos disfrutes las clases.</p>
                <br>
                <h2>Nuestra misión: CDC Texcalac está comprometido a fortalecer y satisfacer las necesidades de asistencia social y prestación de servicios asistenciales, proporcionando soluciones eficientes de gran impacto que beneficien a la población más vulnerable y contribuyan al mejor desarrollo de las familias la comunidad , en coordinación con el voluntariado, sector privado y públicos.</h2>
                <br>
                <h2>Nuestra vision: Ser un Organismo de vanguardia e innovación que represente para la población más vulnerable de la Comunidad, la mejor opción en cuanto a la prestación de Servicios Asistenciales, Atención Social y Desarrollo Familiar.</h2>
                <br>
            {% if 'id' in session %}
                {% if session['rol'] == 3 %}
                <a href="{{ url_for('admin.adminA') }}">Administrar</a>                    
                {% elif session['rol'] == 2 %}
                <a href="{{ url_for('user.mytaller') }}">Ver mis talleres</a>
                {% elif session['rol'] == 1 %}
                <a href="{{ url_for('user.mytaller') }}">Ver mis talleres</a>
                {% endif %}
            {% else %}
            <a href="{{ url_for('user.register') }}">Registrarme</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
