{% extends 'base.html' %}

{% block title %}
    Talleres principales
{% endblock %}

{% block content %}
<style>
    body{
        background-image: url(../../static/images/fondochido1.jpg);
        background-size: cover;
        background-position: 69%;
    }
    footer{
        margin-top: 0;
    }
</style>
<div class="bodytal">
    <section id="principal">
        <section id="infoT">
            {% for taller in talleres %} 
                <article class="post">
                    <h2>{{ taller.nombre }}</h2>
                    <img src="{{ url_for('static', filename='images/logo-1.png') }}" alt="Logo CDC" class="img_post">
                    <p class="infT">
                        {{ taller.descrip }}
                    </p>
                    <a href="{{ url_for('user.mytaller') }}" class="Ctalleres">Inscribirme</a>
                </article>
            {% endfor %}
        </section>
</div>
<div class="bodytal" style="min-height: 0;">
    {% if page %} 
    <div class="numpages">
      {% for i in range(page) %}
        <a href="{{ url_for('user.mytaller', page=(i + 1)) }}">{{ i + 1 }}</a>
      {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}