{% extends 'base.html' %}

{% block title %}
    Sobre Texcalac
{% endblock %}

{% block content %}
<style>

    footer{
        margin-top: 0;
    }
  </style>
<div class="bodycont">
    <div class="containerinf">
        <header>
            <h1 class="heading-1">Santa María Texcalac</h1>
            <div class="sub-heading">
                <p>¿Cuánto conoces del lugar donde vives?</p>
            </div>
        </header>
        <div class="main">
            <div class="home">
                <div class="left">
                    <img src="{{ url_for('static', filename='images/1.jpg') }}" class="home-img" alt="foto1">
                    <h2 class="heading-2">
                        Agua que nace entre piedras
                    </h2>
                </div>

                <div class="right">
                    <h3 class="heading-3">Pequeños Datos</h3>
                    <div class="lists">
                        <div class="list">
                            <img src="{{ url_for('static', filename='images//cbtis.jpeg') }}" alt="photo 1">
                            <p>En la comunidad de han formado diversas escuelas, entre ellas un bachillerato. CBTIS 04 Texcalac</p>
                        </div>
                    </div>
                    <div class="lists">
                        <div class="list">
                            <img src="{{ url_for('static', filename='images/calle.jpeg') }}" alt="photo 2">
                            <p>Texcalac se considero uno de los asentamientos prehispánicos clave para el desarrollo cultural.</p>
                        </div>
                    </div>
                    <div class="lists">
                        <div class="list">
                            <img src="{{ url_for('static', filename='images//jesus.JPG') }}" alt="photo 3">
                            <p>08 de septiembre fiesta patronal a la Virgen de la Natividad.
                            08 de diciembre fiesta patronal a la Virgen de la Purísima Concepción </p>
                        </div>
                    </div>
                    <div class="lists">
                        <div class="list">
                            <img src="{{ url_for('static', filename='images//igle.jpg') }}" alt="photo 4">
                            <p>Monumentos historicos. Visita al ex convento franciscano de la comunidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <article class="article_inf">
        <p>
            Santa María texcalac es una de las comunidades pertenecientes al municipio de Apizaco en el estado de Tlaxcala es durante el periodo clásico  que comienzan a asentarse casas habitacionales dispersas en la zona de texcalac esto debido a los depósitos naturales de agua asimismo se considera texcalac uno de los asentamientos prehispánicos claves para el desarrollo cultural por su ubicación geográfica estratégica la posición a comparte de corredor comercial fechado entre los años 850 al 1100 después de Cristo.
        </p>
        <p>
            La influencia cultural de texcalac durante la época prehispánica es notoria en el sitio conocido como la presa de  San José piedras negras en un asentamiento que los arqueólogos han llamado complejo acopinalco en esta zona se ha encontrado vestigios artesanales vasijas y detalles que muestran la base económica que era la agricultura mediante canales de riego con terrazas chinampas y tener y terrenos con humedad también se reconocen como era mientas de trabajo dos desfibrador es tallados con piedra de obsidiana el uso para hilar y la explotación de maguey como material para la producción textil.
        </p>
        <p>
            A finales del siglo 16 se inicia la construcción de un convento en las inmediaciones de texcalac se ha tomado el año de 1588 como la fecha probable de inicio de la construcción dado que algunos cronistas como Muñoz Camargo y Antonio de la Ciudad real era no lo mencionan como una anterioridad de la historia de Tlaxcala construido bajo la dirección de los franciscanos el ex convento de la obra de manos indígenas y responde a los intereses evangélicos de los frailes pues texcalac formó parte de los que los religiosos llamaron la provincia del  Santo evangelio.
        </p>
    </article>
</div>
{% endblock %}