{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<!--Alertas-->

<!----------->
    <!---->
<div class="hero">
    <div class="container_login">
        <div class="formation">
            <div class="info_childs">
                <h2>Iniciar Sesión</h2>
                <p>
                </p>
            </div>
        </div>
        <div class="form_formation">
            <div class="form_information_ch">
                <h2>Inicio de Sesión</h2>
                <form class="form" method="POST">
                    {{ form.csrf_token }}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label>
                        <i class='bx bx-envelope'></i>
                        {{ form.correoE(autocomplete="off", placeholder="Correo electrónico") }}
                        {% if form.correoE.errors %}
                            {% for error in form.correoE.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </label>
                    <label>
                        <i class='bx bx-lock'></i>
                        {{ form.contrasenia(autocomplete="off", placeholder="Contraseña") }}
                        {% if form.contrasenia.errors %}
                            {% for error in form.contrasenia.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </label>
                    {{ form.submit() }}
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages%}
                        {% for message in messages %}
                            <div class="alert-log">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <br>
                <a href="{{ url_for('user.olvidcontra') }}" class="link_form">Olvide mi contraseña</a>
                <p class="text_form">¿No tienes cuenta?</p>
                <a href="{{ url_for('user.register') }}" class="link_form">Registrate</a>
            </div>
        </div>
    </div>
</div>
    <!--<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>-->
{% endblock %}