{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesold.css') }}">
    <section>
        <div class="form-box">
            <div class="form_value">
                {% with messages = get_flashed_messages() %}
                    {% if messages%}
                        {% for message in messages %}
                            <h2>{{ message }}</h2>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/login" method="POST">
                    {{ form.csrf_token }}
                    <h2>Inicio de Sesión</h2>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        {{ form.correoE.label }}
                        {{ form.correoE(class="entrada") }}
                        {% if form.correoE.errors %}
                            {% for error in form.correoE.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.contrasenia.label }}
                        {{ form.contrasenia(class="entrada") }}
                        {% if form.contrasenia.errors %}
                            {% for error in form.contrasenia.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="forget">
                        <label for=""><a href="">Olvide mi Contraseña</a></label>
                    </div>
                    {{ form.submit(class="btn2") }}
                    <div class="registro">
                        <p>No tienes una cuenta? </p>
                        <a href="">Registrate</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>-->
{% endblock %}