{% extends 'base.html' %}

{% block title %}
    Talleres
{% endblock %}

{% block content %}
<style>
    body{
        background-image: url(../../static/images/fondo.jpg);
        background-size: cover;
    }
    footer{
        margin-top: 100px;
    }
</style>
<div class="body">
{% if talleres %}
    {% for taller in talleres %}
        <div class="slide-container">
            <div class="slide-content">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='/images/logo-1.png') }}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="nombre">{{ taller.nombre_taller }}</h2>
                            <p class="descrip">
                                {{ taller.descrip_taller }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="slide-container">
        <div class="slide-content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='/images/bx-plus-circle.svg') }}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        {% if session['rol']==2 %} 
                            <a href="{{ url_for('user.solicitar_impartir') }}"><button class="inscripcion">Impartir taller</button></a>
                        {% else %}
                            <a href="{{ url_for('user.validinfo') }}"><button class="inscripcion">Inscribirme a taller</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="slide-container">
        <div class="slide-content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='/images/bx-plus-circle.svg') }}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        {% if session['rol']==2 %} 
                            <a href="{{ url_for('user.solicitar_impartir') }}"><button class="inscripcion">Impartir taller</button></a>
                        {% else %}
                            <a href="{{ url_for('user.validinfo') }}"><button class="inscripcion">Inscribirme a taller</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% if pages %} 
        <div class="numpages">
          {% for i in range(pages) %}
            <a href="{{ url_for('user.mytaller', page=(i + 1)) }}">{{ i + 1 }}</a>
          {% endfor %}
        </div>
    {% endif %}
{% endblock %}