{% extends 'base.html' %}

{% block title %}
    Verificando
{% endblock %}

{% block content %}
<style>
    footer{
        margin-top: 50px;
    }
</style>
    <h1 class="h1_rc"></h1> <!--Importante no quitar-->
    <div class="container_rc">
        {% if session['rol'] == 1 %}
            <h2 class="h2_rc">Solicitud de inscripción a taller</h2>
        {% else %}            
            <h2 class="h2_rc">Solicitud para impartir taller</h2>
        {% endif %}

        <form class="form_rc" method="POST">
            {{ form.csrf_token }}
            <div class="form_correo">
                {{ form.correoE.label }}
                {{ form.correoE(autocomplete="off", placeholder="Correo electronico", class="correo_rc") }}
                {% if form.contrasenia.errors %}
                    {% for error in form.contrasenia.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.taller_id.label }}
                {{ form.taller_id(class="correo_rc") }}
                {% if form.taller_id.errors %}
                    {% for error in form.taller_id.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.contrasenia.label }}
                {{ form.contrasenia(autocomplete="off", placeholder="**********", class="correo_rc") }}
                {% if form.contrasenia.errors %}
                    {% for error in form.contrasenia.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% with messages = get_flashed_messages() %}
                    {% if messages%}
                        {% for message in messages %}
                            <div class="alert-log">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="rc_buttom">
                <a class="salir" href="{{ url_for('home.home') }}">Regresar</a>
                {{ form.submit(class="enviar_rc") }}
            </div>
        </form>
    </div>
{% endblock %}