.alert-log{
  margin: 15px 0;
  padding: 10px;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 10px;
  background-color: #485ec2;
}
.alert-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  
  .alert {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    animation: alertAnimation 0.5s forwards;
  }
  
  @keyframes alertAnimation {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }

  
  .alert:before {
    content: "!";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #f44336;
  }
  
  .alert-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .alert-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .alert-button:hover {
    background-color: #e53935;
  }