@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Outfit&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Nunito Sans', sans-serif;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/mbr.jpg);
    background-size: cover;
}

.container_form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
    height: 600px;
}

.formation{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #da88cc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info_childs{
    width: 100%;
    padding: 0 30px;
}

.info_childs h2{
    font-size: 2.5rem;
}

.info_childs p{
    margin: 15px 0;
    color: aliceblue;
}

.form_formation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: azure;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form_information_ch{
    padding: 0 30px;
}

.form_information_ch h2{
    color: #da88cc;
    font-size: 2rem;
}

.icons{
    margin: 15px 0;
}

.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: black;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
}

.icons i:hover{
    background-color: aliceblue;
    color: #da88cc;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: azure;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: azure;
    border: none;
    outline: none;
    color: black;
}

.form input[type="submit"]{
    background-color: #da88cc;
    color: black;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
}
/** Inicio **/
.content_b{
    text-align: center;
    background-image: url(../images/Iglesia.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 69%;
    position: absolute;
}

.content_b a{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.content_b h1{
    font-size: 100px;
    color: #da88cc;
    font-weight: 600;

}

.content_b p{
    color: #fff;
    font-size: 18px;
}
/** Finaliza Inicio **/
.form input[type="submit"]:hover{
    background-color: #963986;
}

@media screen and (max-width:750px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-width:580px){
    html{
        font-size: 10px;
    }

    .container_form{
        flex-direction: column;
        height: auto;
    }

    .formation{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .form_formation{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }
}