{% extends 'base.html' %}

{% block title %}
    Profesores
{% endblock %}

{% block content %}
<style>
  footer{
      margin-top: 0;
  }
</style>
<main class="madmin">
  <!-- cuerpo principal de la pagina-->
  <div class="main-panel flex-box">
    <div class="col-10 col-fixed">
            <div class="nav nav-vertical">
              <div class="">
                <h4 class="h4">Panel administrador</h4>
              </div>
                <ul>
                  <li><a class="a" href="{{ url_for('admin.adminA') }}"><i class="material-icons">&#xe80c;</i> <span>Alumnos</span></a></li>
                  <li><a class="a secselect" href="{{ url_for('admin.adminP') }}"><i class="material-icons">&#xeb44;</i> <span>Profesores</span></a></li>
                  <li><a class="a" href="{{ url_for('admin.adminT') }}"><i class="material-icons">&#xe7ee;</i> <span>Talleres</span></a></li>
                  <li><a class="a" href="{{ url_for('admin.solicitudes') }}"><i class="material-icons">history_edu</i><span>Solicitudes</span></a></li>
                  <li><a class="a" href="{{ url_for('admin.reportes') }}"><i class="material-icons">history_edu</i><span>Reporte Alumnos</span></a></li>
                  <li><a class="a" href="{{ url_for('admin.reportesP') }}"><i class="material-icons">history_edu</i><span>Reporte Profesores</span></a></li>
                </ul>
            </div>
    </div>
      
    <div class="col-90">
      <div class="profes">
          <div class="data-print center">
            <div class="left row-padding">
                  <h1 class="h1">Profesores de taller</h1>
                  <p class="p">Listado de Docentes</p>
                  <div class="flex-box">
                    <a href="{{ url_for('admin.crear_usuario') }}" class="button h3">Agregar &#43;</a>
                  </div>
            </div>
            <div class="panel-opciones">
              <div class="flex-box"> 
                <span>
                  <form method="post">
                    {{ form.csrf_token }}
                    {{ form.tipo.label }}
                    {{ form.tipo(class="in txt-form") }}
                    {% if form.tipo.errors %}
                        {% for error in form.tipo.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.texto.label }}
                    {{ form.texto(class="in txt-form", placeholder="Búsqueda", autocomplete="off") }}
                    {% if form.texto.errors %}
                        {% for error in form.texto.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
  
                    {{ form.submit(class="button h4") }}
                  </form>
                </span>
              </div>
              <div class="left">
                Resultados.
                </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre(s)</th>
                      <th>Apellido paterno</th>
                      <th>Apellido materno</th>
                      <th>Taller a cargo</th>
                      <th>Correo electrónico</th>
                      <th>Teléfono</th>
                      <th>Edad</th>
                      <th>Fecha de registro</th>
                      <th>Acción</th>

                    </tr>
                </thead>
                <tbody>
                  {% for profe in profesores %}
                  <tr>
                        <td>{{ profe.id }}</td>
                        <td>{{ profe.nombre }}</td>
                        <td>{{ profe.aPaterno }}</td>
                        <td>{{ profe.aMaterno }}</td>
                        <td>
                          {% for taller in talleres %}
                            {% if profe.id == taller.id_profesor %}
                              {{ taller.nombre }}
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>{{ profe.correoE }}</td>
                        <td>{{ profe.telefono }}</td>
                        <td>{{ profe.edad }}</td>
                        <th>{{ profe.fechaRegistro }}</th>
                        <td>
                          <a href="{{ url_for('admin.actualizar_usuario', id=profe.id, rol=profe.rol) }}"><button type="button" class="botn-tables botn-tables--Editar"><i class="material-icons">build</i></button></a>
                          <!---->
                          <form action="{{ url_for('admin.delete', id=profe.id, rol=profe.rol) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="botn-tables botn-tables--Eliminar" onclick="return confirm('Seguro?')">
                              <i class="material-icons">delete</i>
                            </button>
                          </form>
                          <a href="{{ url_for('admin.asignarT', id=profe.id) }}"><button type="button" class="botn-tables botn-tables--Editar"><i class="material-icons"><span class="material-symbols-outlined">assignment_add</span></i></button></a>
                          <a href="{{ url_for('admin.deassign', id=profe.id) }}"><button type="button" class="botn-tables botn-tables--Editar"><i class="material-icons"><span class="material-symbols-outlined">unsubscribe</span></i></button></a>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>
      {% if pages %} 
        <div class="numpages">
          {% for i in range(pages) %}
            <a href="{{ url_for('admin.adminP', page=(i + 1)) }}">{{ i + 1 }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
